[user]
	email = gustavosantaremsilva@gmail.com
	name = Gustavo Silva
	signingkey = 61814CB00D39901E
[init]
    defaultBranch = main
[core]
    editor = nvim
    fsmonitor = true
    untrackedCached = treu
    excludesfile = ~/.gitignore
[gui]
    editor = nvim
    historybrowser = gitk
[diff]
    tool = xxdiff
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[column]
    ui = auto
[help]
    autocorrect = prompt
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    tool = xxdiff
[commit]
    gpgsign = true
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
