[user]
	email = gustavosantaremsilva@gmail.com
	name = Gustavo Silva
	signingkey = 61814CB00D39901E
[init]
    defaultBranch = main
[core]
    editor = nvim
    fsmonitor = true
    untrackedCached = treu
    excludesfile = ~/.gitignore
    pager = delta
[gui]
    editor = nvim
    historybrowser = gitk

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[column]
    ui = auto
[help]
    autocorrect = prompt
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    conflictStyle = zdiff3
[commit]
    gpgsign = true
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
