theme = Doom One
background-opacity = 0.99
cursor-style = block
shell-integration = zsh
shell-integration-features = no-cursor

font-family = "JetBrains Mono"
font-style = "Retina"
font-size = 13

copy-on-select = clipboard
notify-on-command-finish = unfocused

macos-icon = "official"
macos-option-as-alt = right

keybind = option+backspace=text:\x1b\x7f
