theme = "catppuccin_mocha"

[editor]
line-number = "relative"
cursorline = true
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[keys.normal]
C-g = [
  ":write-all",
  ":insert-output lazygit >/dev/tty",
  ":redraw",
  ":reload-all"
]

"^" = "goto_first_nonwhitespace"
"$" = "goto_line_end"
"0" = "goto_line_start"

[keys.select]
"^" = "goto_first_nonwhitespace"
"0" = "goto_line_start"
"$" = "goto_line_end"
